@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    background-color: darkgray;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

section{
    padding: 10vh 30px;
    line-height: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: #575757;
    color: white;
}

section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.274);
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}